<section id="createaccount">
	
	 <%= form_tag('createaccount/create') do %>
		<table>
		<tr>
		<td><%= label_tag 'username', 'Username:', :class => 'username' %></td>
		<td><%= text_field_tag :username, nil, :class => 'username' %></td>
		</tr>
		<tr><td><%= label_tag 'password', 'Password:', :class => 'password' %>
		<td><%= password_field_tag :password, nil, :class => 'password' %></td>
		</tr>
		<tr><td><%= label_tag 'email', 'Email:', :class => 'email' %></td>
		<td><%= text_field_tag :email, nil, :class => 'email' %></td>
		</tr>
		<tr><td><%= label_tag 'firstname', 'First Name:', :class => 'firstname' %>
		<td><%= text_field_tag :firstname, nil, :class => 'firstname' %></td>
		</tr>
		<tr><td><%= label_tag 'lastname', 'Last Name:', :class => 'lastname' %></td>
		<td><%= text_field_tag :lastname, nil, :class => 'lastname' %></td>
		</tr>
		</table>
		<%= submit_tag 'Create Account', :id => 'accountsubmit' %>
	<% end %>
</section>