// Place all the styles related to the Admin/Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container
  height: 100%
  width: 100%

#add_a_category,
#add_a_subcategory
  display: none

#add_it_category,
#add_it_subcategory
  display: none
  cursor: pointer

#add_category,
#add_subcategory
  cursor: pointer
  display: inline-block

#product_container
  width: 1000px
  margin: 0 auto

#products
  margin: auto
  border: none
  position: absolute
  td
    border: solid

#product
  

.edit_product,
#new_product
  margin: 100px auto
  height: 100%
  min-width: 375px
  float: none
  textarea
    min-width: 300px
    min-height: 75px

#menu
  margin: 0
  float: left

#new_p
  float: right
  margin-right: 8%
  margin-top: .5%

// Admin log in page
#log_in_container
  margin: 10% 40%

#homepage
  float: right
  margin-right: 18%