%section#admin_users_container
  = link_to 'New Admin', admin_new_user_path, id: 'new_admin'
  %table#admin_users
    - for user in @admin_users do
      %tr#admin_user
        %td.email= user.email
        %td.edit= link_to "Edit", admin_user_edit_path(admin_user_id: user.id)
        %td.delete= link_to "Delete", admin_user_delete_path(admin_user_id: user.id)
