<<<<<<< HEAD
%span>
	&copy;
	= Time.now.year
	Eclectic Expressions
%span 
	Developed by 
	= link_to 'Medalkore', "http://www.medalkore.com/", :target => "_new"
=======
%footer#footer	
	%span>
		&copy;
		= Time.now.year
		Eclectic Expressions
	&nbsp|&nbsp 
	%span 
		Developed by 
		= link_to 'Medalkore Media', "http://www.medalkore.com/", :target => "_new"
>>>>>>> Reinitialized repo because removing a bunch of large old files is tedious.
