<div id="container">
		<header>
			<nav id="main" class="borderr">
				<ul class="borderr">
					<li><a class="last" title="Log In">Log In</a></li>
					<li><a href="/createaccount" title="Create Account">Create Account</a></li>
					<li><a href="/contact" id="contact" title="Contact">Contact</a></li>
					<li><a href="/about" id="about" title="About">About</a></li>
					<li><a href="/" id="home" title="Home">Home</a>
					

					</li>
					
				</ul>
			</nav>
			<div class="shoppingcart">
				<a id="cart" title="My Cart" class="cart"><%= image_tag 'site/bag.png', :id => 'bag' %>My Cart</a>
				<div class="cart" id="cartitems">
					<p id="items"><%%></p>
				</div>
			</div>
			<nav id="cat">
				<ul id="jMenu">
					<li id="neck"><a class="fNiv">Necklaces</a>
						<ul>
							<li><a>Premade</a></li>
								<ul>
									<li><a>Men</a></li>
									<li><a>Women</a></li>
								</ul>
							<li><a>Custom</a></li>
						</ul>
					</li>
					<li><a class="fNiv">Bracelets</a>
						<ul>
							<li><a>Premade</a></li>
							<li><a>Custom</a></li>
						</ul>
					</li>
					<li><a class="fNiv">Anklets</a>
						<ul>
							<li><a>Premade</a></li>
							<li><a>Custom</a></li>
						</ul>
					</li>
					<li><a href="/products/survivorbracelets" class="fNiv">Survivor Bracelets</a></li>
					<li><a href="/products/accessories" class="fNiv">Accessories</a></li>
				</ul>
			</nav>
		
		</header>